main{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    font-family: "Roboto", serif;
}

.content{
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 1200px;
    
}


.pokemon-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}