  <!-- <div class="app">
    <app-header></app-header>
   
    <div class="content">
        <app-search></app-search>
        
        <div class="pokemon-list">
            <app-pokemon-list  class="pokemon-card"></app-pokemon-list>
        </div> 
    </div>
</div>  -->

<img src="../assets/images/pokeball-icon.png" alt="" class="pokeball">
<img src="../assets/images/pokeball-icon.png" alt="" class="pokeball-2">
<img src="../assets/images/pokeball-icon.png" alt="" class="pokeball-3">



    <div class="app">
        <app-header class="content-header"></app-header>
        <div class="content">
            <router-outlet></router-outlet>
    
        </div> 

    </div> 

    