/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Roboto:wght@400;500;700&display=swap');
@import '../src/styles/theme-styles.scss';





:root {
    --font-family-base: 'Kumbh Sans', sans-serif;
    @include theme-light-root();
  }
  
  .theme-dark {
    @include theme-dark();
  }
  
  html {
    font-size: 14px;
  }
  
  body {
    background-color: var(--bg-primary);
    font-family: var(--font-family-base);
    min-height: 100vh;
    overflow-x: hidden;
  
    button {
      font-family: 'Inter', sans-serif;
    }
  }