.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
   
    .search-img{
        width: 100%;
        height: 152px;
        background: url("../../assets/images/pokedex.png") no-repeat center center;
        background-size: contain;
    }
        
        
        
    .search-box{
        display: flex;
        width: 100%;
        margin-bottom: 34px;
        gap: 12px;
        
        input{
            flex: 1;
            padding: 29px;
            border-radius: 10px;
            border: none;
            box-shadow: 0 0 3px rgba(0,0,0,0.5);
            font-size: 20px;

        }
        
        button{
            width: 81px;
            height: 73px;
            border-radius: 10px;
            background: url("../../assets/images/loupe-icon.png") #FF5350 no-repeat center center;
            border: none;
            
        }
            
            
            
    }
        
        
       
}